<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yt</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class='container'>
      <div class='col-md-10 col-md-push-1'>

        <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li><a href="<%= channels_path %>"><span class="glyphicon glyphicon-th-list"></span></a></li>
            <li><a href="<%= new_channel_path %>"><span class="glyphicon glyphicon-plus"></span></a></li>
          </ul>

          <div class="navbar-header">
            <a class="navbar-brand" href="/">yt</a>
          </div>
        </nav>

        <%= yield %>

      </div>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
